<footer class="py-5">
  <div class="container ">
    <h4>Get The FreshCart App</h4>
    <p>We Will Send You a Link,open it on Your Phone</p>
    <div class="row g-2 text-md-start text-center border-bottom pb-3 ">
      <div class="col-md-10"><input type="email" placeholder="Email ...." class="form-control"></div>
      <div class="col-md-2"><button class="main-btn flex-shrink-0">Share App Link</button></div>
    </div>
    <h5 class="text-center mt-3 h6">&copy; 2024 Mohamed Yasser , All Rights Reserved</h5>
  </div>
</footer>