<section class=" login my-5 mx-auto shadow  rounded-3 overflow-hidden w-50 position-relative bg-light">
  <h1 class=" display-6 form-title">Login Now</h1>
  <form [formGroup]="loginForm" (ngSubmit)="handleLogin()" class="p-sm-5 p-3 ">
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Your Email ..."
          aria-describedby="basic-addon1">
      </div>
      <div class="a-alert" *ngIf="loginForm.get('email')?.touched">
        <p *ngIf="loginForm.get('email')?.getError('required')" class="text-danger mb-0">
          <i class="fa-regular fa-circle-xmark me-1"></i>Email
          is required
        </p>
        <p *ngIf="loginForm.get('email')?.getError('email')" class="text-danger mb-0"><i
            class="fa-regular fa-circle-xmark me-1"></i>Please
          enter valid email</p>
      </div>
    </div>
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock "></i></span>
        <input type="password" class="form-control" id="password" formControlName="password"
          placeholder="Your Password ..." aria-describedby="basic-addon1" #password>
        <span (click)="showPass = true; showPass == true? (password.type = 'text'):(password.type = 'password')"
          [ngClass]="{'d-none':showPass}">
          <i class="fa-regular fa-eye pass-eye"></i>
        </span>
        <span (click)="showPass = false;showPass == false ? (password.type = 'password'):(password.type = 'text')"
          [ngClass]="{'d-none':!showPass}"><i class="fa-regular fa-eye-slash pass-eye"></i></span>

      </div>
      <div class="a-alert" *ngIf="loginForm.get('password')?.touched">
        <p *ngIf="loginForm.get('password')?.getError('required')" class="text-danger mb-0">
          <i class="fa-regular fa-circle-xmark me-1"></i>Password
          is required
        </p>
        <p *ngIf="loginForm.get('password')?.getError('pattern')" class="text-danger mb-0"><i
            class="fa-regular fa-circle-xmark me-1"></i>Password is not correct</p>

      </div>
    </div>
    <p class="a-alert" *ngIf="errMsg.length"><i class="fa-solid fa-info fa-bounce me-1"></i>{{errMsg}}</p>

    <button type="submit" class="main-btn w-100 d-block my-3" [disabled]="loginForm.invalid">Login
      <i class="fa-solid fa-spinner fa-spin" *ngIf="isLoading"></i></button>
    <div class="d-flex justify-content-end">
      <a routerLink="/forgetpassword" class="link-secondary ">Forget Password</a>
    </div>
  </form>
  <div class="text-center my-5">
    <span class="d-block">Don't have an account ?</span>
    <button class="btn text-main text-uppercase fw-bolder" routerLink="/register">Sign up Now</button>
  </div>
</section>