<nav class="navbar navbar-expand-lg bg-light shadow-sm">
  <div class="container">
    <a class="navbar-brand " routerLink="/home">
      <img src="assets/imgs/freshcart-logo.svg" alt="freshcart-logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="btn">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto ">

        <li class="nav-item ">
          <a class="nav-link px-2" routerLink="/login" routerLinkActive="active-link">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2" routerLink="/register" routerLinkActive="active-link">Register</a>
        </li>

      </ul>
    </div>
  </div>
</nav>